@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 12px;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q, blockquote {
	quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, menu, nav, section, summary {
	display: block;
}

ul, li {
	margin: 0;
	padding: 0;
}

::-moz-selection {
	background: #007FFF;
	text-shadow: none;
}

::selection {
	background: #007FFF;
	text-shadow: none;
}

a {
	color: #212121;
	text-decoration: none;
}

a:hover {
	color: #a605c1;
	text-decoration: underline;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0px;
	font-size: 0px;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

.hdr-headinfo {
	background-color: #0B5586;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #ccc;
	color: #fff;
	font-size: 1em;
	margin: 12px;
	padding: 0.3em 1em;
	text-shadow: #9FBEB9 1px 1px 1px;
	text-transform: uppercase;
}

fieldset {
	background-color: #f1f1f1;
	border: none;
	border-radius: 2px;
	margin-bottom: 12px;
	overflow: hidden;
	padding: 0 0.625em;
}

.fields {
	background-color: #FFF;
	border: 1px solid #eaeaea;
	margin: .75em;
	padding: .75em;
}

.fields .row {
	margin: 0.5em 0;
}

label {
	cursor: pointer;
	display: inline-block;
	padding: 3px 6px;
	text-align: right;
	width: 100px;
	vertical-align: top;
	font-size: 1em;
}

.required {
	color: red;
	display: none;
}

input, select, button {
	font-size: 1em;
}

.field-small {
	width: 75px;
}

.field-medium {
	width: 150px;
}

.field-large {
	width: 300px;
}

select {
	padding-right: 1em;
}

textarea {
	font: inherit;
	padding: 0px;
}

.instructions {
	font-size: .75em;
	padding-left: 167px;
	font-style: italic;
	margin: .5em 0 1.2em;
}

.instructions kbd {
	font-size: 1.23em;
	font-style: normal;
}

.btn {
	background-color: #da820a;
	border: none;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #333;
	color: #fff;
	margin: 12px 0 0 26px;
	padding: 8px;
	text-shadow: 1px 1px 0px #777;
}

.btn-reset {
	background-color: #8e5303;
	color: #eee;
	margin-left: 35px;
}

/* :::: Radio Buttons :::: */
.radios {
	background-color: transparent;
	position: relative;
	margin-bottom: 0;
}

.radios .row {
	margin: 0 0 0 150px;
}

.radios legend {
	left: 0;
	padding: 0 6px;
	position: absolute;
	text-align: right;
	top: 2px;
	width: 148px;
	*width: 143px;
	/* a hack for IE7 */
}

.radios label {
	padding-left: 0px;
	margin-right: 0px;
	vertical-align: middle;
	width: auto;
	text-align: left;
}

/* :::: Checkboxes :::: */
.checkboxes label {
	text-align: left;
	width: 475px;
}

button * {
	vertical-align: middle;
}

#header, #content, #footer {
	width: 766px;
	margin: 0 auto;
	background-color: #fafffd;
	border: 1px solid #dcdcdc;
}

#header {
	margin-bottom: 5px;
	padding-bottom: 3px;
}

.main-top {
	position: relative;
	height: 86px;
}

.logo {
	position: absolute;
	width: 240px;
	height: 50px;
	left: 20px;
	top: 20px;
	background: url('../images/logo.png?1558404373');
}

.logo a span {
	display: none;
}

.login-box label {
	margin: 0px 10px;
	width: 50px;
	text-align: left;
}

.login-box .submit {
	border: 1px solid #da820a;
	background-color: #da820a;
	display: inline-block;
	width: 45px;
	height: 19px;
	line-height: 19px;
	font-weight: bold;
	color: #fff;
	box-shadow: 2px 2px 2px #333;
	text-shadow: 1px 1px 0px #777;
	border-radius: 3px;
	margin-left: 20px;
}

.login-box .submit:hover {
	background-color: #009F59;
	border: 1px solid #009F59;
}

/*banner*/
.main-banner {
	width: 764px;
	height: 199px;
	border-top: 1px solid #e7f9f3;
	border-bottom: 1px solid #e7f9f3;
	margin-bottom: 5px;
}

/*左侧*/
.main-content-left {
	width: 162px;
	float: left;
}

.class-box {
	width: 156px;
	margin-left: 4px;
	margin-bottom: 10px;
}

.class-box-header {
	height: 27px;
	line-height: 27px;
	padding-left: 5px;
	background-image: url('../images/ico-bg.png?1558404373');
	background-position: 0px -100px;
}

.class-box-header span {
	margin-right: 5px;
}

.class-box-content {
	background: #FFF;
	border-bottom: 1px solid #00925d;
}

.class-box-content ul li {
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
	border-bottom: 1px solid #5d5d5d;
	background-image: url('../images/ico-bg.png?1558404373');
	background-position: 5px -130px;
	background-repeat: no-repeat;
}

.clear-bottom-line {
	border-width: 0px !important;
}

.class-box-header h3 {
	color: #FFF;
}

/*左侧box*/
.left-box {
	width: 156px;
	margin-left: 6px;
	margin-top: 12px;
	margin-bottom: 12px;
	border: 1px solid #DAD1D5;
	border-radius: 5px;
}

.left-box-header {
	height: 25px;
	line-height: 25px;
	background-image: url('../images/ico-bg.png?1558404373');
	background-position: 3px -148px;
	background-repeat: no-repeat;
	background-size: contain;
}

.left-box-header h3 {
	margin-left: 10px;
	color: #00925d;
}

.left-box-content ul li {
	line-height: 20px;
	background-image: url('../images/left-ico-bg.png?1558404373');
	background-position: 3px 8px;
	background-repeat: no-repeat;
	padding-left: 15px;
}

/*右侧*/
.main-content-right {
	width: 600px;
	float: right;
}

.main-text-box {
	position: relative;
	width: 574px;
	margin: 2px auto 10px;
	border: 1px solid #DAD1D5;
	border-radius: 5px;
	padding: 10px;
}

.main-text-box-header {
	background-image: url('../images/ico-bg.png?1558404373');
	background-position: 3px -148px;
	background-repeat: no-repeat;
}

.main-text-box-header h3 {
	display: inline-block;
	width: 127px;
	height: 25px;
	line-height: 25px;
	margin-left: 15px;
	color: #00925d;
	font-size: 14px;
}

.main-text-box-content {
	padding-top: 10px;
}

.news-list-ul {
	width: 570px;
	height: 435px;
}

.news-list-ul li {
	height: 20px;
	line-height: 20px;
	background: url('../images/left-ico-bg.png?1558404373') no-repeat left
		5px;
	padding-left: 15px;
}

.news-list-ul li span {
	float: right;
}

.li-line {
	margin-bottom: 5px;
	padding-bottom: 5px;
}

/*页码*/
.page-bar {
	position: relative;
	margin-top: 10px;
}

.page-num-ul li {
	float: left;
}

.page-num-ul li a {
	display: inline-block;
	padding: 3px 5px;
	margin: 0px 3px;
	border: 1px solid #b8b8b8;
}

.page-num-ul li a:hover {
	border: 1px solid #00925d;
	background-color: #00925d;
	color: #FFF;
	text-decoration: none;
}

.page-key {
	width: 45px;
}

.page-btn {
	border: 1px solid #da820a;
	background-color: #da820a;
	display: inline-block;
	width: 45px;
	height: 19px;
	line-height: 19px;
	font-weight: bold;
	color: #fff;
	box-shadow: 2px 2px 2px #333;
	text-shadow: 1px 1px 0px #777;
	border-radius: 3px;
}

.page-btn:hover {
	background-color: #009F59;
	border: 1px solid #009F59;
}

.page-go-form {
	position: absolute;
	display: inline-block;
	right: 30px;
	top: 0px;
}

.page-go-form input, label, button {
	margin: 0px 5px;
}
.page-go-form label{
	width: 40px;
}
/* .link-text-ul li {
	float: left;
	width: 120px;
	height: 30px;
	line-height: 30px;
	background-image: url('../images/ico-bg.png?1558404373');
	background-position: 0px -190px;
	background-repeat: no-repeat;
}

.link-text-ul li a {
	display: block;
	font-size: 14px;
	padding-left: 15px;
} */

/*底部*/
.main-footer-box {
	margin-top: 5px;
	text-align: center;
	line-height: 25px;
}

/*管理页面*/
.page-btn-small {
	border: 1px solid #da820a;
	background-color: #da820a;
	display: inline-block;
	width: 42px;
	height: 18px;
	line-height: 18px;
	font-weight: bold;
	color: #fff;
	box-shadow: 2px 2px 2px #333;
	text-shadow: 1px 1px 0px #777;
	border-radius: 3px;
}

.page-btn-small:hover {
	background-color: #009F59;
	border: 1px solid #009F59;
}

.admin-list {
	width: 100%;
	border: #cccccc 1px solid;
	font-size: 12px;
	margin-top: 10px;
}

.admin-list tbody tr {
	height: 25px;
	line-height: 25px;
}

.admin-list-head {
	font-weight: bold;
	height: 25px;
	background-color: #009F59;
	text-align: left;
	color: #FFF;
}

.admin-list-td-h2 {
	HEIGHT: 25px;
	background-color: #ebebeb;
}

.admin-bar {
	padding: 0px 10px 0px 10px;
	height: 25px;
	line-height: 25px;
}

.admin-bar a {
	display: inline-block;
	margin-left: 10px;
}

/*新闻阅读*/
.article-box {
	width: 540px;
	margin: 0px auto 20px auto;
	padding-top: 30px;
}

.article-box h1 {
	font-size: 14px;
	font-weight: bold;
	color: #00925d;
	display: block;
	text-align: center;
}

.source-bar {
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.article-content {
	font-size: 12px;
	line-height: 23px;
}

.article-summary {
	color: #9a9a9a;
	line-height: 25px;
	display: block;
	border: 1px solid #f0f0f0;
	padding: 5px 8px;
}

/*评论*/
.comment, .comment a, .comment-form-header, .comment-form-header h3 {
	font-size: 12px;
	font-weight: normal;
	color: #979797;
}

.comment {
	margin-top: 10px;
	border: 1px solid #e8e8e8;
}

.comment-body {
	padding: 20px;
}

.comment-top {
	background: #f9f9f9;
	padding-right: 5px;
}

.comment-top b {
	font-weight: normal;
	margin: 0px 5px;
}

.comment-form-header {
	height: 25px;
	line-height: 25px;
}

.comment-form-header span {
	float: right;
}

.comment-form-content {
	position: relative;
	padding: 20px 10px;
	border: 1px solid #dbe1e6;
	background: #f4fafc;
}

.comment-textarea {
	width: 447px;
	height: 45px;
}

.comment-btn {
	border: 1px solid #da820a;
	background-color: #da820a;
	display: inline-block;
	width: 45px;
	height: 24px;
	line-height: 24px;
	font-weight: bold;
	color: #fff;
	box-shadow: 2px 2px 2px #333;
	text-shadow: 1px 1px 0px #777;
	border-radius: 4px;
	position: absolute;
	top: 36px;
	right: 10px;
}

.comment-btn:hover {
	background-color: #009F59;
	border: 1px solid #009F59;
}

.text_tabledetail2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 20px;
	color: #000000;
	background-color: #fafffd;
	text-align: right;
	padding-right: 10px;
}

.image-responsive {
	display: inline-block;
	max-width: 100%;
	height: auto;
}